.printAlert {

    background-color: transparent;
    background-image: url("../img/mail1.png");
    background-position: center;
    background-repeat: no-repeat;
}

#printApps {
    color: black;
    font-weight: bold;
}

.navbar .brand,
.navbar .nav>li>a:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: black;
    text-shadow: none;
    background-color: white; 
    text-decoration: underline;
}
/*.navbar-fixed-top .navbar-brand:hover {
  color: black;
  background-color: white;

}*/



.navbar-fixed-top .navbar-brand {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: white;
    height: 70px;
    padding-top: 25px;
}

.navbar-fixed-top {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
   
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.navbar-fixed-top.scrolled {
    background-color: rgba(244,244,244,0.9);
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-bottom: 2px solid rgb(30, 155, 201);
    
}

.navbar-fixed-top.scrolled .nav-link {
    color: black;

}

.navbar-fixed-top.scrolled .nav-link:hover {
    background-color: rgb(30, 155, 201);
    color: white;
}




.navbar-default .navbar-nav>li>a {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 70px;
    padding-top: 25px;
}





header.masthead .intro-text {
    padding-top: 250px;
    padding-bottom: 200px;
}

.navbar-toggle {

    background-color: white;
}

.appDivider {
    padding: 20px;
    margin-bottom: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(30, 155, 201);
}

.uploader {
    display: flex;
    min-height: 20vh;
    width: 100%;
    padding: 0;
    margin-left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgrey;
}

#uploader {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    margin-bottom: 10px;
}





.divider {

    width: 10%;
    margin-left: 45%;
    height: 1px;
    background: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


header.masthead {
    text-align: center;
    color: white;
    background-attachment: fixed;
    background: linear-gradient( rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.4)), url(../img/Pointing.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.container-fluid.contact-header {
    background-color: rgb(238, 244, 247);
}

.btn.btn-primary.btn-lg.apply-now-button {
    background: rgb(51, 178, 220);
    border-radius: 3px;
    font-size: 24px;
    padding: 10px 20px;
}

.row.contact-header-row {
    line-height: 150px;
}

.front-page-contact-header {
    font-size: 24px;
    line-height: 50px;
}


.navigation-clean {
    color: white;
    border-radius: 0;
    box-shadow: none;
}

.navbar-default {
    background-color: rgba(1, 120, 225, 0.8);
    background-image: none;
    background-repeat: no-repeat;
    
    border-bottom: 1px solid white;
}



body {
    padding-top: 70px;
}

#front-page {
    padding-top: 0px;
}



.h3,
h3 {
    display: inline-block;
    line-height: 2;
    vertical-align: middle;
}

.job-title-text {
    line-height: normal;
}

.row.add-job-input {
    padding: 20px;
    background-color: rgba(63, 180, 208, 0.5);
}

.add-job {
    line-height: normal;
}

.col-md-3.admin-buttons {
    line-height: 200px;
}

.col-md-12.text-center.posted-jobs-heading {
    color: rgb(30, 155, 201);
}

.row.add-job-input.posted {
    background-color: white;
    margin-bottom: 5px;
    border: 1px solid rgb(63, 180, 208);
}

.job-details {
    height: 100px;
    line-height: 15px;
    color: black;
}

#high {
    padding-bottom: 15px;
}

.job-title {
    height: 100px;
    line-height: 15px;
}

#positionTitle {
    border: 1px solid rgb(63, 180, 208);
    width: 200px;
}

#positionDetails {
    width: 200px;
    height: 75px;
    border: 1px solid rgb(63, 180, 208);
}


#post {
    margin-top: 25px;
}

.deletePost {
    margin-top: 50px;
}




/* Login form css */

.modal-dialog {

    width: 400px;
}

.modal-content {
    padding: 20px;
    background-color: rgba(30, 155, 201, .9);
    height:
}


h4 {
    margin: 0;
    padding: 0 0 20px;
    color: white;
    text-align: center;
}

.modal-content p {
    margin: 0;
    padding: 0;
    color: #fff;
}

.modal-content input {
    width: 100%;
    margin-bottom: 20px;
}

.modal-content input[type='email'],
.modal-content input[type='password'] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

#txtEmail::-webkit-input-placeholder {
    color: white;
}

#txtPassword::-webkit-input-placeholder {
    color: white;
}

.modal-header {
    border: none;
    padding: 20px;
}


#btnLogin {

    font-size: 16px;
    width: 200px;
    margin-bottom: 20px;
}

.pwdIncorrect {
    visibility: hidden;
}

.ion-ios-locked-outline {
    font-size: 100px;
}

.btnAddPosition {
    margin-top: 10px;
}

.alert {

    margin-bottom: 0px;
    margin-top: 5px;
    opacity: 0;
}




/*Styling the postions page */

.maps {

    margin-bottom: 0px;
}

.maps>h2,
p {
    font-family: Arsenal, sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.maps>p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;

    font-family: Arsenal, sans-serif;
}

.directionsBtn {
    margin: 20px;
    font-size: 16px;
}

@media (max-width:992px) {
    .maps {
        margin-bottom: 0px;
    }
}

.detailsHeader {
    color: black;
}

.titleHeader {
    color: black;
}

.black {
    color: black;
    margin-top: 10px;
}

.apply {}

.deleteApp {
    margin: 5px;
}

.deleteClients {
    margin: 5px;
}


.positionsBanner {

    background-color: #e8f4f9;
    padding: 20px 0px 10px 0px;
    font-size: 36px;



    font-weight: bold;
}

.printing {
    margin: 50px;
}

.positionsBanner>h4 {
    font-size: 36px;


    color: rgb(63, 180, 208);
}

.noMargin {}

.application {


    padding: 50px;
}

.app-row {
    margin-top: 5px;
}

.application-header {
    margin-bottom: 50px;
}

.bottom-history {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.disclaimer {
    padding: 10px;
    border: 1px solid black;
    background-color: lightgrey;
}

.disclaimer>p {
    color: black;
}

.agree {
    margin-left: 40%;
}

.appDiv>p {
    margin-top: 50px;
    color: black;
}

.appDiv {
    border-bottom: 1px solid black;
}


.carousel-caption>h1 {}






.carousel-caption>h1 {
    margin-bottom: 50px;
    font-size: 70px;
    font-family: 'PT Sans Narrow', sans-serif;
}

@media only screen and (max-width: 767px) {
    .printAlert {
        background-position: left;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 650px) {
    .carousel-caption>h1 {
        font-size: 30px;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: bold;
    }
}

@media only screen and (max-width: 500px) {



    .modal-dialog {

        width: 345px;
    }
    header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .application {
        padding: 10px;
    }
    .agree {
        margin-left: 30%;
    }
    .disclaimer>p {

        font-size: 10px;
    }
}