.container-fluid.contact-header {
  background-color:rgb(238,244,247);
}

.btn.btn-primary.btn-lg.apply-now-button {
  background:rgb(51,178,220);
  border-radius:3px;
  font-size:24px;
  padding:10px 20px;
}

.row.contact-header-row {
  line-height:150px;
}

.front-page-contact-header {
  font-size:24px;
  line-height:50px;
}

.h3, h3 {
  display:inline-block;
  line-height:2;
  vertical-align:middle;
}

.job-title-text {
  line-height:normal;
}

.row.add-job-input {
  padding: 20px;
  background-color:rgb(231,229,229);
}

.add-job {
  line-height:normal;
}

.col-md-3.admin-buttons {
  line-height:200px;
}

.col-md-12.text-center.posted-jobs-heading {
  color:rgb(30,155,201);
}

.row.add-job-input.posted {
  background-color:white;
  margin-bottom: 5px;
  border:1px solid rgb(63,180,208);
}

.job-details{
  height: 100px;
  line-height: 15px;
  color: black;
}
#high {
  padding-bottom:15px;
}
.job-title{
  height: 100px;
  line-height: 15px;

}
#positionTitle{
  border: 1px solid black;

}


#post{
  margin-top: 25px;
}
.deletePost{
  margin-top: 50px;

}


                    /* Login form css */

.modal-dialog {
 
  width: 400px;
  
   
}

.modal-content { 
  padding: 20px;
 background-color: rgba(30,155,201, .9);
 height: 
 
}


h4 {
  margin: 0;
  padding: 0 0 20px;
  color: white;  text-align: center;
}
.modal-content p {
  margin: 0;
  padding: 0;
  color: #fff;

}

.modal-content input {
  width: 100%;
  margin-bottom: 20px ;

}

.modal-content input[type='email'], 
.modal-content input[type='password']
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color:white;
  font-size: 16px;
 
}

::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
::-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}

 #txtEmail::-webkit-input-placeholder{
 color: white;

}
#txtPassword::-webkit-input-placeholder{
  color: white;

}

.modal-header{ 
border: none; 
padding: 20px;

}


#btnLogin { 
 
  font-size: 16px;
  width: 200px;
  margin-bottom: 20px;
}

.pwdIncorrect{
  visibility: hidden;
}
.ion-ios-locked-outline{
  font-size: 100px;
}
.btnAddPosition {
  margin-top: 10px;
}

 /*Styling the postions page */

.maps { 
background-color: rgb(63,180,208);

 }
.maps > h2,p {
  color: white;

}

.detailsHeader {
  color: black;
}

.titleHeader{
  color: black;
}







